/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bigbio/relink -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO: Update with test data paths once available
    input  = "${projectDir}/assets/samplesheet.csv"

    // Reference data
    fasta               = "https://ftp.pride.ebi.ac.uk/pride/data/archive/2024/08/PXD042173/all_320_proteins_from_first_second_third_fourth_fifth_batch.fasta"
    xi_linear_config    = "${projectDir}/assets/test_data/xi_linear.conf"
    xi_crosslink_config = "${projectDir}/assets/test_data/xi_crosslinking.conf"

    // Pipeline options
    do_recalibration        = true
    do_crosslinking_search  = true
    do_fdr                  = true
    do_mass_error_plots     = false
    link_fdr                = 5
}
